langchain>=0.3.0
langchain-community>=0.3.0
langchain-core>=0.3.0
langchain-classic>=0.3.0
langsmith

langchain-ollama>=0.2.0

fastapi>=0.115.0
uvicorn>=0.35.0

typer>=0.16.0
rich>=14.0.0
send2trash

pydantic>=2.11.0

psutil>=7.0.0

watchdog>=6.0.0

python-dotenv>=1.1.0
